<div class="h-screen w-screen bg-no-repeat bg-cover flex justify-content-center align-items-center" style="background-image: url(../../../assets/background-login.jpg)">
    <div class="flex flex-column bg-white w-5 border-round-xl">
        <div class="w-full flex justify-content-around pt-3 pb-5 px-3 gap-2 align-items-center">
            <div class="flex-1 flex justify-content-center">
                <img src="../../../assets/logo_login.jpg" alt="" class="w-10rem h-10rem" />
            </div>
            <div class="flex-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<p-toast class="z-5"></p-toast>