<div [formGroup]="resetPasswordForm" class="flex-2">
  <div class="text-center font-semibold text-3xl text-black-alpha-80">
    Reset Pasword
  </div>
  <div class="w-full gap-2">
    <div class="w-full flex justify-content-between">
      <div class="">New password</div>
      <div
        *ngIf="
          resetPasswordForm.controls['password'].invalid &&
          (resetPasswordForm.controls['password'].dirty ||
            resetPasswordForm.controls['password'].touched)
        "
        class="text-red-500 text-xs -mb-5"
      >
        <div
          *ngIf="resetPasswordForm.controls['password'].hasError('required')"
        >
          (*)Password is required
        </div>

        <div
          *ngIf="resetPasswordForm.controls['password'].hasError('minlength')"
        >
          (*)Password must more than 8 charactor.
        </div>
      </div>
    </div>
    <input
      pInputText
      id="password"
      formControlName="password"
      type="password"
      class="w-full"
    />
  </div>
  <div class="w-full gap-2">
    <div class="w-full flex justify-content-between">
      <div class="">Repeat Password</div>
      <div
        *ngIf="
          resetPasswordForm.controls['rePassword'].invalid &&
          (resetPasswordForm.controls['rePassword'].dirty ||
            resetPasswordForm.controls['rePassword'].touched)
        "
        class="text-red-500 text-xs -mb-5"
      >
        <div
          *ngIf="resetPasswordForm.controls['rePassword'].hasError('dontMatch')"
        >
          (*)Password is not match.
        </div>
      </div>
    </div>
    <input
      pInputText
      id="repassword"
      formControlName="rePassword"
      type="password"
      class="w-full"
    />
  </div>
  <div class="flex justify-content-end mt-2">
    <p-button
      styleClass="w-10rem bg-cyan-500"
      icon="pi pi-user"
      label="Reset"
      [loading]="loading"
      [disabled]="resetPasswordForm.invalid"
      (onClick)="resetPassword()"
    ></p-button>
  </div>
</div>
