<div class="p-5">
  <div class="font-medium mb-5">UPLOAD FILE</div>
  <div class="flex justify-content-around">
    <div class="flex-1 flex justify-content-center align-items-center h-20rem">
      <div>
        <img
          src="../../../assets/upload-file.jpeg"
          class=""
          alt=""
          (click)="chooseFile()"
        />
        <div class="text-xs text-red-500 text-center mt-2">
          (*)Click here to select files(.pdf, .docx)
        </div>
        <input
          #fileInput
          type="file"
          multiple="true"
          (change)="onFileSelected($event)"
          class="hidden"
        />
      </div>
    </div>
    <div class="flex-1 flex align-items-start">
      <table class="width: 100%">
        <tr>
          <th colspan="2">Selected File</th>
        </tr>
        <ng-template
          ngFor
          let-file
          [ngForOf]="uploadFiles"
          let-i="index"
          let-odd="odd"
        >
          <tr>
            <td
              style="text-align: left; overflow: hidden"
              class="text-overflow-ellipsis"
            >
              {{ file.name }}
            </td>
            <td>
              <i
                class="pi pi-trash pointer"
                style="color: red; font-size: 1.5rem"
                title="Delete"
                (click)="deleteFile(i)"
              ></i>
            </td>
          </tr>
        </ng-template>
        <tr *ngIf="uploadFiles.length === 0">
          <td class="text-center h-5rem">No file chosen.</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card flex justify-content-center">
    <p-button
      label="Upload File"
      [loading]="isLoading"
      class="hover:bg-red"
      [outlined]="true"
      [disabled]="uploadFiles.length == 0"
      (onClick)="uploadCV()"
    ></p-button>
  </div>
</div>
<p-toast></p-toast>
