<div class="p-5">
  <div class="card">
    <p-table
      #cvs
      [paginator]="true"
      [rows]="rows"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      (onPage)="pageChange($event)"
      [value]="curriculumVitaes"
      [(selection)]="selectedCurriculumVitaes"
      dataKey="id"
      [globalFilterFields]="['name']"
      [responsive]="true"
      [tableStyle]="{ 'min-width': '20rem' }"
    >
      <ng-template pTemplate="caption" class="flex justify-content-between">
        <div class="font-medium">CURRICULUM VITAE LIST</div>
        <div class="flex justify-content-end">
          <div>
            <button
              [class.hidden]="checkBoxSelected != true"
              [class.block]="checkBoxSelected == true"
              (click)="showSendCurriculumVitaeModal()"
              icon="pi pi-external-link"
              class="border-none outline-none mr-2 border-round-sm text-white font-semibold"
              style="background-color: #20bdf4; padding: 10px 16px"
            >
              Send
            </button>
          </div>
          <div>
            <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                class="pl-5 py-2 border-round-smtext-base border-cyan-500"
                type="text"
                (input)="
                  cvs.filterGlobal($any($event.target).value, 'contains')
                "
                placeholder="Search keyword"
              />
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5%; text-align: center" *ngIf="role != 'Customer'">
            Select
          </th>

          <th pSortableColumn="name" style="width: 30%">
            Name
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th *ngIf="role !== 'Hr'" pSortableColumn="poster" style="width: 20%">
            Post By
            <p-sortIcon field="poster"></p-sortIcon>
          </th>
          <th
            *ngIf="role != 'Customer'"
            pSortableColumn="uploadDate"
            style="width: 20%"
          >
            Upload Date
            <p-sortIcon field="uploadDate"></p-sortIcon>
          </th>

          <th
            *ngIf="role == 'Customer'"
            pSortableColumn="status"
            style="width: 20%"
          >
            Status
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th style="width: 10%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cv>
        <tr>
          <td *ngIf="role != 'Customer'">
            <p-tableCheckbox
              [value]="cv"
              (click)="onCheckboxChange()"
            ></p-tableCheckbox>
          </td>
          <td>
            <div class="flex justify-content-between align-items-center">
              <span> {{ cv.name }}</span>
              <p-button
                *ngIf="role != 'Customer'"
                styleClass="w-2rem h-2rem"
                icon="pi pi-pencil"
                [rounded]="true"
                severity="info"
                [outlined]="true"
                (onClick)="openRenameForm(cv.id, cv.name)"
              ></p-button>
            </div>
          </td>
          <td *ngIf="role !== 'Hr'" class="flex align-items-center">
            <img
              src="../../../assets/avatar.png"
              class="w-2rem h-2rem mr-2"
              alt=""
            />{{ cv.poster }}
          </td>
          <td *ngIf="role != 'Customer'">
            {{ cv.uploadDate | date : "dd-MM-yyyy" }}
          </td>
          <td *ngIf="role == 'Customer'">
            {{ cv.status == 0 ? "Not View" : "Viewed" }}
          </td>
          <td>
            <i
              class="pi pi-eye mr-2 pointer"
              style="color: blue; font-size: 1.5rem"
              title="View"
              (click)="viewFile(cv.id, cv.url)"
            ></i>
            <i
              *ngIf="role != 'Customer'"
              class="pi pi-trash pointer"
              style="color: red; font-size: 1.5rem"
              title="Delete"
              (click)="deleteFile(cv.id)"
            ></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Rename file"
  [(visible)]="isRenameFormVisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex flex-column gap-2">
    <label htmlFor="fileName">New name</label>
    <input pInputText id="fileName" [(ngModel)]="selectedFileName" />
  </div>
  <div class="flex justify-content-end mt-3">
    <p-button label="Rename" (onClick)="renameFile()"></p-button>
  </div>
</p-dialog>

<p-toast></p-toast>
<app-cv-view-file
  *ngIf="isDisplayViewFileModal"
  [isDisplayViewFileModal]="isDisplayViewFileModal"
  [selectedFileId]="selectedFileId"
  [selectedFileUrl]="selectedFileUrl"
  (closeEvent)="clodeViewFileModel($event)"
></app-cv-view-file>
<app-cv-send-to-customer
  *ngIf="isDisplaySendCVModal"
  [isDisplaySendCVModal]="isDisplaySendCVModal"
  [seletedCurriculumnVitaes]="selectedCurriculumVitaes"
  (isSended)="checkSendStatus($event)"
  (closeEvent)="closeSendCvModal($event)"
></app-cv-send-to-customer>
